@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

:root {
    --primary-dark-color: #333;
    --primary-light-color: #fff;
    --secondary-color: #ff7979;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
}